@import "tailwindcss";

:root {
  --background: #F8F4E1;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */ 

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.liquid-ether-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  touch-action: none;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 9999px;
  background-color: #74512D;
  opacity: 0.3;
  animation: pulse 1.4s infinite ease-in-out;
}

.dot-1 { animation-delay: 0s; }
.dot-2 { animation-delay: 0.15s; }
.dot-3 { animation-delay: 0.3s; }
.dot-4 { animation-delay: 0.45s; }
.dot-5 { animation-delay: 0.6s; }

@keyframes pulse {
  0% { opacity: 0.3; }
  50% { opacity: 1; }
  100% { opacity: 0.3; }
}
